html {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
}
.App {
  margin: auto;
}

.Question {
  background-color: #DDF4FB;
  width: 800px;
}

.Question P {
  background-color: #08627D;
  color: #FFF;
  padding: 20px;
}

.Answer {
  color: #000;
  padding: 10px;
}



